#wp-user-profile-avatar-errors, #wp-user-profile-avatar-readable-size-error, .wp-user-profile-avatar-error { color: #c00 !important; font-weight: 700 !important; }
#wp-user-profile-avatar-readable-size-error, #wp-user-profile-avatar-undo-button { display: none; }
#wp-user-profile-avatar-preview, #wp-user-profile-avatar-preview-existing { margin-right: 10px; }
#wp-user-profile-avatar-preview, #wp-user-profile-avatar-preview-existing, #wp-user-profile-avatar-thumbnail, #wp-user-profile-avatar-thumbnail-existing { display: inline-block; text-align: center; vertical-align: top; }
#wp-user-profile-avatar-preview img, #wp-user-profile-avatar-thumbnail img, #wp-user-profile-avatar-preview-existing img, #wp-user-profile-avatar-thumbnail-existing img { max-height: 96px; border: 1px solid #dfdfdf; display: block; }
.widget_wp_user_profile_avatar #wp-user-profile-avatar-preview img, .widget_wp_user_profile_avatar #wp-user-profile-avatar-thumbnail img, .widget_wp_user_profile_avatar #wp-user-profile-avatar-preview-existing img, .widget_wp_user_profile_avatar #wp-user-profile-avatar-thumbnail-existing img { max-height: 64px; }
.defaultavatarpicker #wp-user-profile-avatar-preview, .defaultavatarpicker #wp-user-profile-avatar-preview-existing { width: 32px; height: 32px; margin-right: 0; display: inline-block; overflow: hidden; vertical-align: middle; }
.defaultavatarpicker #wp-user-profile-avatar-preview img , .defaultavatarpicker #wp-user-profile-avatar-preview-existing img { width: 32px; height: auto; border: 0; }
#wp-user-profile-avatar-edit #wp-user-profile-avatar-remove, #wp-user-profile-avatar-edit #wp-user-profile-avatar-undo, #wp-user-profile-avatar-edit-attachment { margin-left: 10px !important; }
#wp-user-profile-avatar-slider { width: 22.75em; }
#wp-user-profile-avatar-upload-messages span { display: block; }
.wp-user-profile-avatar-hide { display: none !important; }
.wp-user-profile-avatar-no-avatars { display: none; }

#TB_window #TB_ajaxContent .wp-user-profile-avatar-shortcode-wrap .admin-setting-left{
	width: 100%;
}
#TB_window #TB_ajaxContent .wp-user-profile-avatar-shortcode-wrap .admin-setting-left #settings-upload_avatar{
	display: none;
}